gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

/google-services.json
/firebase_app_id_file.json
/firebase_crashlytics_build_id_file.json
/firebase_crashlytics_mapping_file_id_file.json
/firebase_crashlytics_unstripped_native_libs_file_id_file.json
/firebase_crashlytics_symbols_file_id_file.json